<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.l99.wehouse.dao.CityDao">

    <resultMap id="CityResultMap" type="cn.l99.wehouse.pojo.dto.CityDto">
        <result property="cityId" column="city_id"/>
        <result property="cityCnName" column="city_cn_name"/>
        <result property="cityPyName" column="city_py_name"/>
    </resultMap>

    <select id="getAllCitys" resultMap="CityResultMap">
        select name as city_cn_name, adcode as city_id ,en_name_abbreviation as city_py_name from house_area where level = 'C';
    </select>

    <select id="getSubwayLinesByCityId" resultMap="cn.l99.wehouse.dao.common.SubwayLinesResultMap">
        select name as line_name,id as line_id from subway_lines where city_id = #{cityId}
    </select>

    <select id="getSubwayStationByLineId" resultMap="cn.l99.wehouse.dao.common.SubwayStationResultMap">
        select name as station_name,id as station_id from subway_stations where line_id = #{lineId}
    </select>
</mapper>