<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.l99.wehouse.dao.CollectionDao">

    <resultMap id="CollectionResultMap" type="cn.l99.wehouse.pojo.UserCollection">
        <id property="id" column="collection_pri_id"/>
        <result property="userId" column="user_id"/>
        <result property="houseId" column="house_id"/>
        <result property="collectionTime" column="collection_time"/>
    </resultMap>

    <sql id="Collection_Column_List">
        c.id as collection_pri_id,
        user_id,house_id,collection_time
    </sql>

    <insert id="insertCollection" parameterType="cn.l99.wehouse.pojo.UserCollection" >
        insert into userCollection(user_id,house_id,collection_time) values (#{userId},#{houseId},#{collectionTime})
    </insert>
</mapper>